<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="OnlineJudge/lib/bootstrap-4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="OnlineJudge/lib/bootstrap-4.3.1/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="OnlineJudge/lib/bootstrap-4.3.1/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="OnlineJudge/CSS/global.css">
  <title>{{ contest.name }}</title>
  <style>
    #problemListDiv{
      margin-top: 30px;
    }
  </style>
</head>
<body>
{% include "OnlineJudge/header.html" %}

<div class="container-fluid" id="problemListDiv">
  <label id="statusCodeLabel" hidden>{{ status }}</label>
  <div class="container">
    <div class="row">
      <div class="col-sm-11">
        <div class="text-center">
          <h2>问题列表</h2>
        </div>
        <div class="text-center">
          <p>
            <span id="dateSpan">当前日期：</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="timeSpan">当前时间：</span>
          </p>
        </div>
        <div class="text-center">
          <p>
            <span class="beginTimeSpan">开始时间：{{ contest.beginTime }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="endTimeSpan">结束时间：{{ contest.endTime }}</span>
          </p>
        </div>
        <table class="table table-striped table-hover text-center">
          <thead class>
            <th>ID</th>
            <th>问题名称</th>
          </thead>
          <tbody>
            {% if contests %}
              <tr>
                {% for problem in problems %}
                  <td><a>{{ problem.id }}</a></td>
                  {#            TODO 增加题目超链接#}
                  <td><a href="">{{ problem.name }}</a></td>
                {% endfor %}
              </tr>
            {% else %}
              <tr>
                <td colspan="2">暂无问题信息</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="col-sm-1 container">
        <div class="list-group text-center" id="URLList">
          <a href="#" class="list-group-item active">作业</a>
          <a href="#" class="list-group-item">问题</a>
          <a href="#" class="list-group-item">状态</a>
          <a href="#" class="list-group-item">排名</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% load staticfiles %}
<script rel="script" src="{% static "OnlineJudge/lib/jquery-3.4.1/jquery-3.4.1.min.js" %}" defer></script>
<script rel="script" src="{% static "OnlineJudge/lib/popper.min.js" %}" defer></script>
<script rel="script" src="{% static "OnlineJudge/lib/bootstrap-4.3.1/js/bootstrap.min.js" %}" defer></script>
<script rel="script" src="{% static "OnlineJudge/lib/bootstrap-4.3.1/js/bootstrap.bundle.min.js" %}" defer></script>
<script rel="script" src="{% static "OnlineJudge/Javascript/contestDetailJS.js" %}" defer></script>
</body>
</html>