<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "OnlineJudge/lib/bootstrap-4.3.1/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "OnlineJudge/lib/bootstrap-4.3.1/css/bootstrap-grid.min.css" %}">
  <link rel="stylesheet" href="{% static "OnlineJudge/lib/bootstrap-4.3.1/css/bootstrap-reboot.min.css" %}">
  <link rel="stylesheet" href="{% static "OnlineJudge/CSS/global.css" %}">
  <title>登录</title>
  <style>
    #loginDiv{
      margin-top: 50px;
    }
  </style>
</head>
<body>
<!--TODO 添加header-->
{% include "OnlineJudge/header.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card" id="loginDiv">
        <!--        <img class="card-img" src="img/..." alt="Card image cap">-->
        <label hidden id="userNotExistLabel">{{ userNotExsist }}</label>
        <div class="card-header text-center">
          <h3>登录</h3>
        </div>
        <div class="card-body text-center">
          <form class="form-horizontal" role="form" method="POST" action="/OnlineJudge/POSTlogin/">
            {% csrf_token %}
            <input type="hidden" name="token">
            <div class="form-group form-row">
              <label class="col-form-label col-md-2" for="username">用户名</label>
              <div class="col-sm-4 offset-md-1 col-md-6">
                <input type="text" class="form-control" id="username" placeholder="请填写用户名"
                       name="username" required
                       autofocus>
              </div>
            </div>
            <div class="form-group form-row">
              <label class="col-form-label col-md-2" for="password">密码</label>
              <div class="offset-md-1 col-md-6">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="请填写密码" required>
              </div>
            </div>
            <div class="form-group form-row">
              <div class="offset-sm-1 col-sm-4 offset-md-4 col-md-4">
                <button type="submit" class="btn btn-block btn-primary glyphicon glyphicon-log-in"
                        id="submitButton">
                  登录
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% load staticfiles %}
<script rel="script" src="{% static "OnlineJudge/lib/jquery-3.4.1/jquery-3.4.1.min.js" %}" defer></script>
<script rel="script" src="{% static "OnlineJudge/lib/popper.min.js" %}" defer></script>
<script rel="script" src="{% static "OnlineJudge/lib/bootstrap-4.3.1/js/bootstrap.min.js" %}" defer></script>
<script rel="script" src="{% static "OnlineJudge/lib/bootstrap-4.3.1/js/bootstrap.bundle.min.js" %}" defer></script>
{#<script rel="script" src="{% static "OnlineJudge/Javascript/loginJS.js" %}" defer></script>#}
</body>
</html>